<div class="col-sm-12 col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1" ng-controller="CertificateCouponsCtrl">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">电子礼券</div>
    </div>
    <div class="panel-body">
      <div class="question-table">
        <p class="text-muted">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;电子礼券可作为活动抽奖及兑奖的凭证，且创建的所有电子礼券只在 i 微校内适用。</p>
        <a class="btn btn-primary pull-right" ui-sref="certificate_coupons">进入</a>
      </div>
    </div>
  </div>
</div>