<div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-3 col-sm-9 col-sm-offset-3 profile-panel">
	<form ng-submit="changePassword()" class="form-horizontal" role="form" name="changePasswordForm">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="panel-title">修改密码</div>
			</div>
			<div class="panel-body">
				<form-input data-title="'原密码'" data-name="'password'">
					<input name="email" id="email" ng-model="change.password" class="form-control" type="password" required>
				</form-input>
				<form-input data-title="'新密码'" data-name="'new_password'">
					<input name="new_password" id="new_password" ng-model="change.new_password" class="form-control" type="password" required>
				</form-input>
				<form-input data-title="'再次输入'" data-name="'password'">
					<input name="new_password_confirm" id="new_password_confirm" ng-model="change.new_password_confirm" class="form-control" type="password" required>
				</form-input>

				<form-input data-title="''" data-name="''">
					<input class="btn btn-primary" id="submit" name="submit" type="submit" value="修改密码">
				</form-input>
			</div>
		</div>
	</form>
</div>