<div class="col-lg-9 col-lg-offset-3 col-md-9 col-md-offset-3 col-sm-9 col-sm-offset-3">
	<!-- 导航栏部分 -->
	<div class="row">
		<nav class="navbar navbar-inverse" style="background-color: rgb(219, 218, 218);" role="navigation">
			<div class="navbar-header"></div>
			<div class="collapse navbar-collapse" id="navbar-item">
				<ul class="nav navbar-nav">
					<li d-sref="'activity_iWX.bazaar'">
						<a ui-sref="activity_iWX.bazaar">组织发布</a>
					</li>
					<li d-sref="'activity_iWX.bazaar.personal'">
						<a ui-sref="activity_iWX.bazaar.personal">学生发布</a>
					</li>
				</ul>
			</div>
		</nav>
	</div>
	<div ui-view>
		<div ng-controller="BazListIwxCtrl">
			<!--筛选条件部分-->
			<!--学校筛选条件-->
			<div class="row">
				<form class="form-horizontal">
					<fieldset>
						<legend>
							<h4>学校筛选</h4>
						</legend>
						<div class="row">
							<div class="col-md-3">
								<form-input data-title="'省'" data-name="'province'">
									<select name="province_scope" id="province_scope" class="form-control" ng-model="search_params.province_scope_id" ng-options="r.id as r.city for r in provinceArray" ng-change="change_province()">
									</select>
								</form-input>
							</div>
							<div class="col-md-3">
								<form-input data-title="'市'" data-name="'city'">
									<select class="form-control" name="city_scope" id="city_scope" ng-model="search_params.city_scope_id" ng-options="r.id as r.city for r in cityArray" ng-change="change_city()">
									</select>
								</form-input>
							</div>
							<div class="col-md-6">
								<form-input data-title="'学校'" data-name="'university'">
									<select class="form-control" name="university_scope" id="university_scope" ng-model="search_params.university_scope_id" ng-options="r.id as r.name for r in universityArray" ng-change="change_university()">
									</select>
								</form-input>
							</div>
						</div>
					</fieldset>
				</form><br/>
			</div>
			<!--组织筛选条件-->
			<div class="row">
				<form class="form-horizontal">
					<fieldset>
						<legend>
							<h4>
								<font>组织筛选</font>
							</h4>
						</legend>
						<div class="row">
							<div class="col-sm-12">
								<ul id="org_tab_baz" class="nav nav-tabs nav-justified">
									<li class="active">
										<a id="committee" class="org_a">院系团委</a>
									</li>
									<li>
										<a id="tissue" class="org_a">院系学生会</a>
									</li>
									<li>
										<a id="organization" class="org_a">校级学生组织</a>
									</li>
									<li>
										<a id="union" class="org_a">学生社团</a>
									</li>
								</ul>
							</div>
						</div><br/>
						<div class="row">
							<div class="col-md-3" style="text-align:left;padding-left:50px;" ng-repeat="community in communities">
								<input type="radio" name="community" id="community" value="{{community.id}}" ng-model="checked_community" ng-click="get_checked_community(checked_community)"/> <font title="{{community.name}}" ng-bind="community.name | substr:9:8"></font>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4 col-md-offset-4">
								<div ng-show="msg">
									<br/><button class="btn btn-default center-block more-btn" ng-click="load_more()" ng-disabled="btn">
										<font ng-bind="load_btn"></font>
									</button><br/>
								</div>
								<div  style="font-weight: bold;color: silver;padding: 20px 0px 20px 0px;" ng-hide="msg">
									<font ng-bind="load_msg"></font>
								</div>
							</div>
						</div>
					</fieldset>
				</form><br/>
			</div>
			<!--分类筛选条件-->
			<div class="row">
				<form class="form-horizontal">
					<fieldset>
						<legend><h4>分类筛选</h4></legend>
						<div class="row">
							<div class="col-md-2"></div>
							<div class="col-md-2" ng-repeat="type in bazaar_type">
								<label type="button" class="btn btn-default btn-checkbox" style="margin-bottom:3px;width:100px;"
									ng-click="choseBazaarType(type)" chosen-status="type.chosen" chosen>
									<span>
										<font ng-bind="type.name | substr: 4 : 3" title="{{type.name}}"></font>
									</span>
								</label>
							</div>
						</div>
					</fieldset>
				</form><br/><br/>
			</div>
			<div class="row">
				<span class="label label-info" style="font-size: 100%;">
					集市内容总发布数：&nbsp;<font ng-bind="sum"></font>
				</span>&nbsp;&nbsp;&nbsp;&nbsp;
				<span class="label label-success" style="font-size: 100%;">
					组织总发布数：&nbsp;<font ng-bind="org_count"></font>
				</span>
			</div><br/>
			<!--校园集市表格信息-->
			<div class="row">
        <div class="table-container">
            <table ng-table="tableParams" class="table table-striped table-responsive">
              <tbody>
                <tr ng-repeat="bazaar in $data">
                  <td data-title="'集市标题'" header-class="text-left">
                    <a ng-click="goToBazDetail(bazaar.id, bazaar.bazaar_type.alias)"><font ng-bind="bazaar.topic"></font></a>
                  </td>
                  <td data-title="'集市种类'" header-class="text-left">
                    <span class="label label-info">
                      <font ng-bind="bazaar.bazaar_type.name"></font>
                    </span>
                  </td>
                  <td data-title="'发布者'" header-class="text-left">
                    <a ng-click="publisherInfo(bazaar.community.id, 'org')"><font ng-bind="bazaar.community.name"></font></a>
                  </td>
                  <td data-title="'发布时间'" header-class="text-left">
                    <font ng-bind="bazaar.publish_time | date: 'yyyy-MM-dd HH:mm'"></font>
                  </td>
                  <td data-title="'点击量'" header-class="text-left">
                    <font ng-bind="bazaar.browsers"></font>
                  </td>
                  <td data-title="'咨询数'" header-class="text-left">
                    <font ng-bind="bazaar.participators"></font>
                  </td>
                  <td data-title="'操作'" header-class="text-left">
                    <label type="button" class="btn btn-info btn-checkbox"
                      ng-click="unPubBazaar(bazaar.university.id, 'ADMIN', bazaar.id)" style="margin-bottom:3px;">
                      <span>
                        取消发布 <i class="fa fa-ban"></i>
                      </span>
                    </label>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
			</div>
		</div>
	</div>
</div>
