<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>抽奖 - 获奖者名单</title>
  <link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="/static/styles/draw-winners.css">
  <link rel="shortcut icon" href="/static/favicon.ico">
</head>
<body class="container">
  <div class="draw-winner"></div>
  <script type="text/javascript" src="/static/bower_components/jquery/dist/jquery.js"></script>
  <script type="text/javascript" src="/static/scripts/draw-winners.js"></script>
</body>
</html>
