<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        重置密码
    </title>
    <link rel="stylesheet"
        href="/static/styles/bootstrap.min.css">
</head>
<body class="container">
<div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
  <form action="{{ url_for_security('reset_password', token=reset_password_token) }}"
      method="POST" class="form-horizontal form-panel" role="form">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">重置密码</div>
    </div>
    <div class="panel-body">
      <div class="form-group">
        <label class="col-sm-2 control-label" for="password">新密码</label>
        <div class="col-sm-9">
          <input class="form-control" id="password" name="password" type="password" value="">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label" for="password_confirm">再次输入</label>
        <div class="col-sm-9">
          <input class="form-control" id="password_confirm" name="password_confirm"
              type="password" value="">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-9 col-sm-offset-2">
          <input class="btn btn-primary" id="submit" name="submit" type="submit"
              value="重置密码">
        </div>
      </div>
    </div>
  </div>
</form>
</div>
</body>
</html>