<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>签到大屏幕</title>
    <link rel="stylesheet" type="text/css" href="/static/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/static/styles/sign_in.css">
    <link rel="shortcut icon" href="/static/favicon.ico">
  </head>
  <body>
    <img id="bg_flag" src="/static/images/iweixiao_white_bg.png">
    <br/><br/>
    <div id="sign_ins"></div>
    <div class="footer clearfix">
      <span class="iweixiao"></span>
    </div>
    <script type="text/javascript" src="/static/bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/static/scripts/sign_in.js"></script>
  </body>
</html>