<!DOCTYPE html>
<html lang="zh">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>党建经历</title>
		<link rel="stylesheet" type="text/css" href="/static/bower_components/bootstrap/dist/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="/static/styles/undergo-page.css">
		<link rel="shortcut icon" href="/static/favicon.ico">
	</head>
	<body>
		<div class="container">
			<br/>
			<div class="row">
				<div class="col-md-9 col-md-offset-1">
					<div class="panel panel-default">
						<div class="panel-heading">
							<div class="panel-title"><font id="person"></font>的党建历程</div>
						</div>
						<div class="panel-body">
							<!--人员信息-->
							<div class="row">
								<div class="col-sm-12">
									<div class="basic-info">
										<table class="table col-md-12">
											<tbody>
												<tr>
													<td class="col-md-3" rowspan="5"><img class="poster_img" id="photo" style="width: 100%;"></td>
													<td class="col-md-2">真实姓名</td>
													<td class="col-md-2"><font id="name"></font></td>
													<td class="col-md-2">身份</td>
													<td class="col-md-2"><font id="status">正式党员<font></td>
												</tr>
												<tr>
													<td class="col-md-2">性别</td>
													<td class="col-md-2"><font id="sex">男</font></td>
													<td class="col-md-2">专业</td>
													<td class="col-md-2"><font id="major"></font></td>
												</tr>
												<tr>
													<td class="col-md-2">电话</td>
													<td class="col-md-2"><font id="phone"></font></td>
													<td class="col-md-2">入学时间</td>
													<td class="col-md-2"><font id="admission_date"></font></td>
												</tr>
												<tr>
													<td class="col-md-2">加入学年</td>
													<td class="col-md-2"><font id="year"></font></td>
													<td class="col-md-2">所属分组</td>
													<td class="col-md-2"><font id="group"></font></td>
												</tr>
												<tr>
													<td class="col-md-2">担任职务</td>
													<td class="col-md-2"><font id="duty"></font></td>
													<td class="col-md-2"></td>
													<td class="col-md-2"></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
							<div id="party_course"></div>
							<!--党建历程信息-->
							<!-- <div class="panel panel-default form-horizontal">
								<div class="panel-heading">
									<div class="panel-title">
										<font>2016-08-01 08:00</font>
									</div>
								</div>
								<div class="panel-body">
									<div class="row">
										<span class="label label-info course">
											<font size="3">党课学习</font>
										</span>
									</div>
									<div class="row">
										<div class="col-sm-6">
											<p>活动名称：<font>北京大学计算机分院党课时间活动</font></p>
											<p>活动地点：<font>1号教学楼</font></p>
											<p>活动开始时间：<font>2016-08-01 08:00</font></p>
											<p>活动结束时间：<font>2016-08-01 08:00</font></p>
											<span class="label label-success plugin">
												<font id="plugin">活动签到</font>
											</span>
										</div>
										<div class="col-sm-6">
											<div class="thumbnail" style="width: 300px;height: 200px;">
												<img src="/static/images/default_icon.png" style="width: 100%;height: 100%;">
											</div>
											<p class="text-center" style="width: 300px">活动海报</p>
										</div>
									</div>
									<div class="row">
										<div class="col-sm-12">
											<div class="well course_content">
												
											</div>
										</div>
									</div>
								</div>
							</div> -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="/static/bower_components/jquery/dist/jquery.js"></script>
		<script type="text/javascript" src="/static/scripts/undergo-page.js"></script>
	</body>
</html>