<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>爆料墙</title>
  <link rel="stylesheet" href="/static/styles/wall.css">
  <link rel="shortcut icon" href="/static/favicon.ico">
</head>
<body>
  <div class="header clearfix">
    <span class="iweixiao"></span><br><br>
    <span class="broke-wall"></span>
    <span class="logo"></span>
  </div>
  <div class="items" id="items">
  </div>
  <script type="text/javascript" src="/static/bower_components/jquery/dist/jquery.js"></script>
  <script type="text/javascript" src="/static/scripts/wall.js"></script>
</body>
</html>
