<div id="activity-item" ng-controller="ActivityItemCtrl">
  <div class="tabs-left">
    <ul class="nav nav-tabs col-sm-2 col-md-2 col-lg-2">
      <li d-sref="'activity_item'">
        <!-- <a ui-sref="activity_item({ id: activity.id })">活动概况</a> -->
        <a ui-sref="activity_item({ id: activity.id, currentPage: page })" ng-if="editingActivityId == -1">创建新活动</a>
        <a ui-sref="activity_item({ id: activity.id, currentPage: page })" ng-if="editingActivityId != -1">活动概况</a>
      </li>
      <li ng-hide="editingActivityId=='-1'" ui-sref-active="active">
        <a ui-sref="activity_item.stat_plugin" href="#/activity/{{activity.id}}/plugin/stat">活动统计</a>
      </li>
      <!-- <li ng-repeat="plugin in activity.plugins" d-sref="'activity_item.' + plugin.id + '_plugin'" data-name="plugin.name"></li> -->
      <li ng-repeat="plugin in act_plugin" style="cursor:pointer;" d-sref="'activity_item.' + plugin.id + '_plugin'">
        <a ui-sref="activity_item.{{plugin.id}}_plugin">
          <img class="logo" ng-src="{{plugin.icon_path}}" style="width:13px;margin-top: -2px;">&nbsp;{{plugin.name}}
        </a>
      </li>
      <!-- <li ng-if="plugin.id == 'vote'" ng-repeat="plugin in activity.plugins" style="cursor:pointer;" d-sref="'activity_item.' + plugin.id + '_plugin'">
        <a ui-sref="activity_item.{{plugin.id}}_plugin" ng-controller="VoteTreeCtrl">
          <treecontrol class="tree-light"
             tree-model="dataForTheTree"
             options="treeOptions"
             on-selection="showSelected(node)"
             selected-node="node1">
             {{node.name}}
           </treecontrol>
        </a>
      </li> -->
      <li ng-hide="editingActivityId=='-1' || activity.plugins.length == 7">
        <a ng-click="_addPlugin()" style="cursor:pointer;">
          <img src="/static/images/function_icon.png" style="width:15px;">
          &nbsp;更多功能
        </a>
      </li>
    </ul>
  </div>
  <div ui-view>
    <div class="col-lg-offset-3 md-offset-3 col-sm-offset-3 col-lg-9  col-md-9 col- col-sm-9" ng-controller="ActivityItemCtrl">
      <div class="activity-button-bar">
      <div class="btn-group" ng-show="user.role.name === 'ADMIN' || user.role.name === 'USER'">
        <a class="btn btn-default" ui-sref="activity({currentPage: page})">
          <i class="fa fa-reply"></i> 返回</a>
        <!-- <a class="btn btn-default" ui-sref="activity">
          <i class="fa fa-reply"></i> 返回</a> -->
      </div>
      <div class="btn-group" ng-show="user.role.name === 'IWX_ADMIN'">
        <a class="btn btn-default" ui-sref="activity_iWX">
          <i class="fa fa-reply"></i> 返回</a>
      </div>
      <div class="btn-group" ng-show="user.role.name === 'UN_ADMIN'">
        <a class="btn btn-default" ui-sref="activity_university">
          <i class="fa fa-reply"></i> 返回</a>
      </div>
      &nbsp;
      <div class="btn-group" ng-show="user.role.name === 'ADMIN' || user.role.name === 'USER'">
        <label type="button" class="btn btn-default btn-checkbox"
            ng-click="isPublishActivity(editingActivityId, activity.published, page)"
            ng-model="activity.published" btn-checkbox ng-if="editingActivityId != -1">
            <span ng-if="activity.published" style="color:green">
                已发布 <i class="fa fa-check"></i>
            </span>
            <span ng-if="!activity.published">
                未发布 <i class="fa fa-ban"></i>
            </span>
        </label>
      </div>
      &nbsp;
      <!-- <div class="btn-group">
        <a ng-disabled="activity.top_num==1" class="btn btn-primary" ng-if="editingActivityId != -1"
            ng-click="top()">置顶 <i class="fa fa-hand-o-up"></i></a>
      </div>
      &nbsp; -->
      <div class="btn-group" ng-show="user.role.name === 'ADMIN' || user.role.name === 'USER'">
        <a class="btn btn-danger" ng-if="editingActivityId != -1"
            ng-click="delete()">删除 <i class="fa fa-trash-o"></i></a>
      </div>
    </div>
      <form method="POST" ng-submit="saveActivity()"
          class="form-horizontal" role="form"
          name="activityForm" enctype="multipart/form-data">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="panel-title">活动概况</div>
          </div>
          <div class="panel-body">
            <form-input data-title="'活动主题'" data-name="'subject'">
              <input name="subject" id="subject" ng-model="activity.subject"
                  class="form-control" type="text"
                  ng-readonly="activity.is_register" placeholder="请将主题限制在25个汉字以内" regexp="sub_regexp" blur>
            </form-input>
            <!--ng-required="true"-->
            <form-input data-title="'活动地点'" data-name="'location'">
              <input name="location" id="location" ng-model="activity.location"
                  class="form-control" type="text" placeholder="请将地点限制在15个汉字以内" regexp="loc_regexp" blur>
            </form-input>
            <form-input data-title="'开始时间'" data-name="'start_time'">
              <datetimepicker datetime="activity.start_time"></datetimepicker>
            </form-input>
            <form-input data-title="'结束时间'" data-name="'end_time'">
              <datetimepicker datetime="activity.end_time"></datetimepicker>
            </form-input>
            <!---->
            <form-input data-title="'活动内容'"
                data-name="'content'" ng-if="!activity.members">
              <!-- 添加必填验证 -->
              <!-- <textarea class="form-control" id="content"
                  ng-model="activity.content"
                  name="content" rows="10" autocomplete="off" maxlength="2000" placeholder="2000字数限制，善用换行，排版会更好看噢！">
              </textarea> -->
              <!-- <textarea froala="options" ng-model="activity.content"  rows="10" autocomplete="off" maxlength="2000"
                placeholder="2000字数限制，善用换行，排版会更好看噢！"
                froala-event-on-paste="onPaste"
                froala-event-focus="onEvent"
                froala-event-indent="onEvent"></textarea> -->
              <!-- <watg-richtext-editor
                id="'myRTEditor'"
                rich-text="activity.content"
                config="richTextConfig"
                reset-count="resetCount"></watg-richtext-editor> -->
              <ng-simditor content="activity.content"></ng-simditor>
            </form-input>
            <form-input data-title="'活动口号'"
                data-name="'content'" ng-if="activity.members">
              <!-- 添加必填验证 -->
              <textarea class="form-control" id="content"
                  ng-model="activity.content"
                  name="content" rows="5" autocomplete="off" placeholder="请将活动口号限制在20个汉字以内" regexp="content_regexp" blur>
              </textarea>
            </form-input>
            <!-- <form-input data-title="'活动封面'" data-name="'cover'">
                <div class="fileinput fileinput-new" data-provides="fileinput">
                  <div ng-if="activity.cover" class="fileinput-new thumbnail" style="height:400px;width:300px;">
                    <img ng-src="{{activity.cover.substring(0)}}?width=160&height=160" image-fixed>
                  </div>
                  <div class="fileinput-preview fileinput-exists thumbnail"></div>
                  <div>
                    <span class="btn btn-default btn-file">
                      <span class="fileinput-new">选择照片</span>
                      <span class="fileinput-exists">更换</span>
                      <input type="file" name="cover" data-file="activity.cover">
                    </span>
                    <a href="#" class="btn btn-default fileinput-exists"
                        data-dismiss="fileinput">删除</a>
                  </div>
                </div>
              </form-input> -->
              <form-input data-title="'活动海报'" data-name="'poster'" ng-if="!activity.members">
                <div class="fileinput fileinput-new" data-provides="fileinput">
                  <div ng-if="activity.poster" class="fileinput-new thumbnail" style="height:200px;width:300px">
                    <img ng-src="{{activity.poster.substring(0)}}?width=160&height=160" image-fixed>
                  </div>
                  <div class="fileinput-preview fileinput-exists thumbnail"></div>
                  <div ng-show="user.role.name === 'ADMIN' || user.role.name === 'USER'">
                    <span class="btn btn-default btn-file" data-toggle="tooltip" data-placement="bottom" title="请保持最佳宽高比，图片大小不能超过1M" tool-tip>
                      <span class="fileinput-new">选择照片</span>
                      <span class="fileinput-exists">更换</span>
                      <input type="file" name="poster" data-file="activity.poster" id="image_file">
                    </span>
                    <a href="#" class="btn btn-default fileinput-exists"
                        data-dismiss="fileinput">删除</a>
                  </div>
                </div>
              </form-input>
          </div>
        </div>
        <button class="btn btn-primary form-control" type="submit" ng-show="editingActivityId=='-1' && (user.role.name==='ADMIN' || user.role.name === 'USER')">
        创&nbsp;建</button>
        <button class="btn btn-primary form-control" type="submit" ng-show="editingActivityId!='-1' && (user.role.name==='ADMIN' || user.role.name === 'USER')">
        更&nbsp;新</button>
      </form>
    </div>
  </div>
</div>
