<div class="modal-header">
	<h4 class="modal-title">请选择成员要加入的部门</h4>
</div>
<div class="modal-body">
	<table class="table table-striped table-responsive" style="border: 0px;" ng-table="tableParams">
		<tbody>
			<tr ng-repeat="department in $data">
				<td style="padding-left:14px;">
					<div class="radio">
						<label>
							<input type="radio" name="member" id="member" value="{{department.id}}" ng-model="checked_department" ng-click="get_checked_department(checked_department)"/>
						</label>
					</div>
				</td>
				<td data-title="'部门名称'" header-class="text-left">
					<font ng-bind="department.name | substr: 7: 6"></font>
				</td>
				<td data-title="'当前人数'" header-class="text-left">
					<font ng-bind="department.number"></font>
				</td>
				<td data-title="'创建时间'" header-class="text-left">
					<font ng-bind="department.create_time | date: 'yyyy-MM-dd HH:mm:ss'"></font>
				</td>
			</tr>
		</tbody>
	</table>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-info" data-dismiss="modal" ng-click="choose_department()" ng-disabled="choose_department_btn">选&nbsp;择</button>
	<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()"><span aria-hidden="true">不，谢谢</span></button>
</div>