<div class="col-lg-9 col-lg-offset-3 col-md-9 col-md-offset-3 col-sm-9 col-sm-offset-3" ng-controller="CouSummaryCtrl">
	<div class="row">
		<div class="col-md-12">
			<a class="btn btn-default" ui-sref="party_info.course({personId: personId, summaryId: 'null'})"><i class="fa fa-reply"></i> 返回</a>
		</div>
	</div><br/><br/>
	<div class="row">
		<div class="col-md-12">
			<form class="form-horizontal" role="form" name="summaryForm">
				<div class="form-group">
					<label for="labels" class="col-sm-2 control-label">选择标签：</label>
					<div class="col-sm-10">
						<fieldset>
							<legend>
								<h5>标签库</h5>
							</legend>
							<div class="row">
								<!-- <div class="col-md-2"></div> -->
								<div class="col-md-2" ng-repeat="label in labels">
									<label type="button" class="btn btn-default btn-checkbox" style="margin-bottom:3px;width:100px;"
										ng-click="choseLabel(label)" chosen-status="label.chosen" chosen>
										<span>
											<font ng-bind="label.name | substr: 4 : 3" title="{{label.name}}"></font>
										</span>
									</label>
								</div>
							</div>
						</fieldset>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4">
						<div style="padding: 8px;margin-left: 35px;">
							如果没有，可以新建一个标签：
						</div>
					</div>
					<div class="col-sm-8">
						<button class="btn btn-info" ng-click="addLabel()">添加标签</button>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<p style="padding: 8px;margin-left: 35px;">
							<small>ps：添加过的标签下次可以直接选择使用，标签库最多支持500个自定义标签</small>
						</p>
					</div>
				</div><br/>
				<div class="form-group">
					<label for="labels" class="col-sm-2 control-label">历程正文：</label>
					<div class="col-sm-10">
						<ng-simditor content="summary.content"></ng-simditor>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-4 col-sm-offset-4">
						<button class="btn btn-info btn-block" ng-click="saveSummary()">发&nbsp;&nbsp;布</button>
					</div>
				</div>
			</form>
		</div>
	</div><br/>
</div>