<div class="modal-header">
	<h3 class="modal-title">正在播放的展板</h3>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-sm-12">
			<table class="table table-striped table-responsive">
				<thead>
					<th>展板名称</th>
					<th>横向展板</th>
					<th>立式展板</th>
					<th>申请组织</th>
					<!-- <th>播放等级</th>
					<th>剩余时间</th> -->
				</thead>
				<tbody>
					<tr ng-repeat="screen in screens">
						<td header-class="text-left">
							<font ng-bind="screen.title"></font>
						</td>
						<td header-class="text-left">
							<div class="thumbnail" style="width: 100px;height: 57px;">
								<img ng-src="{{server + screen.landscape_poster}}?width=100&height=57"
									style="width: 100%;height: 100%;" image-fixed>
							</div>
						</td>
						<td header-class="text-left">
							<div class="thumbnail" style="width: 57px;height: 100px;">
								<img ng-src="{{server + screen.portrait_poster}}?width=57&height=100"
									style="width: 100%;height: 100%;" image-fixed>
							</div>
						</td>
						<td header-class="text-left">
							<font ng-bind="screen.region.name"></font>
						</td>
						<!-- <td header-class="text-left">
							<font ng-bind="screen.play_priority.name"></font>
						</td>
						<td header-class="text-left">
							<font ng-bind="screen.days_left"></font>
						</td> -->
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-default" ng-click="cancel()">关闭</button>
</div>