<div class="modal-header">
	<h3 class="modal-title"><font ng-bind="modalTitle"></font></h3>
</div>
<div class="modal-body">
	<div class="row">
		<!--素材库电子展板-->
		<div class="col-xs-5 col-sm-5 col-md-5">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<div class="panel-title">电子展板</div>
						</div>
						<div class="panel-body" style="height: 360px;overflow-y: auto;">
							<div class="row" style="margin-top: 10px;" ng-repeat="screen in sourceScreens">
								<div class="col-sm-12">
									<label type="button" class="btn btn-default btn-checkbox" ng-click="choseScreen(screen)" style="width: 100%;padding: 10px;" 
										chosen-status="screen.chosen" chosen>
										<span>
											<font ng-bind="screen.title  | substr: 16 : 15" title="{{screen.title}}"></font>
										</span>
									</label>
								</div>
							</div>
							<!--加载更多-->
							<div class="row">
								<div class="col-sm-12">
									<div ng-if="!message">
										<br/>
										<button class="btn btn-default center-block more-btn" ng-click="getMoreScreens()" ng-disabled="btn">
											<font ng-bind="loadBtn"></font>
										</button>
										<br/>
									</div>
									<div  style="font-weight: bold;color: silver;padding: 20px 0px 20px 0px;" ng-if="message">
										<font ng-bind="loadMsg"></font>
									</div>
								</div>
							</div>
						</div> 
					</div>
				</div>
			</div>
		</div>
		<!--操作按钮-->
		<div class="col-xs-1 col-sm-1 col-md-1">
			<div class="row" style="margin-top: 100px;">
				<div class="col-sm-12">
					<!--添加要参与讨论的人员-->
					<button class="btn btn-info btn-lg" ng-click="addToDisList()" ng-disabled="sourScreenChosen.length === 0"><i class="fa fa-arrow-right" aria-hidden="true"></i></button>
				</div>
			</div><br/>
			<div class="row">
				<div class="col-sm-12">
					<!--删除要参与讨论的人员-->
					<button class="btn btn-info btn-lg" ng-click="removeFromDisList()" ng-disabled="disScreenChosen.length === 0"><i class="fa fa-arrow-left" aria-hidden="true"></i></button>
				</div>
			</div>
		</div>
		<!--选中的电子展板-->
		<div class="col-xs-6 col-sm-6 col-md-6">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<div class="panel-title">播放列表</div>
						</div>
						<div class="panel-body" style="height: 360px;overflow-y: auto;">
							<div class="row" style="margin-top: 10px;" ng-repeat="screen in displayScreens">
								<!--展板名称-->
								<div class="col-sm-8">
									<label type="button" class="btn btn-default btn-checkbox" ng-click="choseDisplayScreen(screen.content)" style="width: 100%;padding: 10px;" 
										ng-disabled="screen.content.isDisabled" chosen-status="screen.content.chosen" chosen>
										<span>
											<font ng-bind="screen.content.title  | substr: 11 : 10" title="{{screen.content.title}}"></font>
										</span>
									</label>
								</div>
								<!--播放等级-->
								<div class="col-sm-4">
									<select class="form-control" ng-model="screen.play_priority.id" ng-options="level.id as level.name for level in levels" 
										style="margin-top: 3px;" ng-change="selectLevel(screen.content.id, screen.play_priority.id, screen.content.isDisabled)">
									</select>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-info" ng-click="update()">确&nbsp;定</button>
	<button class="btn btn-default" ng-click="close()">取&nbsp;消</button>
</div>