<div class="col-lg-9 col-lg-offset-3 col-md-9 col-md-offset-3 col-sm-9 col-sm-offset-3" ng-controller="SetLevelsCtrl">
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12">
			<a class="btn btn-default" ui-sref="terminal_university.source({ page: page})">
				<i class="fa fa-reply"></i> 返回</a>
			<button class="btn btn-info pull-right" ng-click="createLevel(auth_token)"><i class="fa fa-plus"></i> 新建播放等级</button>
		</div>
	</div><br/>
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12">
			<table class="table table-striped table-responsive">
				<thead>
					<th>#</th>
					<th>等级名称</th>
					<th>对应播放时间</th>
					<th>操作</th>
				</thead>
				<tbody>
					<tr ng-repeat="level in levels">
						<td header-class="text-left">
							<font ng-bind="$index + 1"></font>
						</td>
						<td header-class="text-left">
							<font ng-bind="level.name"></font>
						</td>
						<td header-class="text-left">
							<font ng-bind="level.length"></font>秒
						</td>
						
						<td header-class="text-left">
							<label type="button" class="btn btn-danger btn-checkbox" ng-click="delLevel(level)">
								<span>
									删&nbsp;&nbsp;除&nbsp;&nbsp;<i class="fa fa-trash-o"></i>
								</span>
							</label>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
					<!-- <h4 class="modal-title" id="myModalLabel">{{confirm.title}}</h4> -->
				</div>
				<div class="modal-body">
					{{confirm.message}}
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="confirmModal();">确定</button>
					<button type="button" class="btn btn-default" data-dismiss="modal"><span aria-hidden="true">取消</span></button>
				</div>
			</div>
		</div>
	</div>
</div>