<div class="col-lg-9 col-lg-offset-3 col-md-9 col-md-offset-3 col-sm-9 col-sm-offset-3" ng-controller="CommDepartmentCtrl">
	<nav class="navbar navbar-default" role="navigation">
		<div class="navbar-header"></div>
		<div class="collapse navbar-collapse" id="navbar-item">
			<ul class="nav navbar-nav">
				<li class="active">
					<a ui-sref="community.department">部门列表</a>
				</li>
			</ul>
			<ul class="nav navbar-nav pull-right">
				<li>
					<a ng-click="createDepartment()">
						新建部门
					</a>
				</li>
			</ul>
	    </div>
	</nav>
	<div id="content" ui-view>
		<div ng-controller="CommDepartmentCtrl">
			<div ng-show="showTable">
				<table ng-table="tableParams" class="table table-striped table-responsive">
					<tbody>
						<tr ng-repeat="department in $data">
							<td data-title="'编号'" header-class="text-left">
								<font ng-bind="$index + 1"></font>
							</td>
							<td data-title="'部门名称'" header-class="text-left">
								<a ng-click="addDepMember(department)">
									<font title="{{department.name}}" ng-bind="department.name | substr: 7: 6"></font>
								</a>
							</td>
							<td data-title="'当前人数'" header-class="text-left">
								<font ng-bind="department.number"></font>
							</td>
							<td data-title="'部门简介'" header-class="text-left">
								<textarea type="text" class="form-control" rows="4"
									id="describe" ng-bind="department.describe" name="describe" readonly="readonly"></textarea>
							</td>
							<td data-title="'创建时间'" header-class="text-left">
								<font ng-bind="department.create_time | date: 'yyyy-MM-dd HH:mm:ss'"></font>
							</td>
							<td data-title="'操作'" header-class="text-left">
								<label type="button" class="btn btn-info btn-checkbox" ng-click="editDepartment(department)">
									<span>
										编&nbsp;辑
									</span>
								</label>&nbsp;
								<label type="button" class="btn btn-danger btn-checkbox" ng-click="delDepartment(department.id)">
									<span>
										删&nbsp;除
									</span>
								</label>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div ng-show="!showTable">
				<p style="text-align: center;"><br/><br/><br/>
					<font style="font-weight: bold;" ng-bind="note_message">
						
					</font>
				</p>
			</div>
			<!-- Confirm Modal -->
			<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">关闭</span></button>
							<!-- <h4 class="modal-title" id="myModalLabel">{{confirm.title}}</h4> -->
						</div>
						<div class="modal-body">
							{{confirm.message}}
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal"><span aria-hidden="true">取消</span></button>
							<button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="confirmModal();">确定</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>