@-webkit-keyframes moveRight {
  to {
    -webkit-transform: translateX(20px);
  }
}

@keyframes moveRight {
  to {
    transform: translateX(20px);
  }
}

@-webkit-keyframes moveLeft {
  to {
    -webkit-transform: translateX(-20px);
  }
}

@keyframes moveLeft {
  to {
    transform: translateX(-20px);
  }
}

.pageload {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  background: #fff;
}

.pageload.pageload-show {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.pageload.pageload-loading::after, .pageload.pageload-loading::before {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.pageload::after, .pageload::before {
  content: '';
  position: fixed;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 50%;
  margin: -10px 0 0 -10px;
  border-radius: 50%;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.15s, visibility 0s 0.15s;
  transition: opacity 0.15s, visibility 0s 0.15s;
}

.pageload::after {
  background: #6cc88a;
  -webkit-transform: translateX(-20px);
  transform: translateX(-20px);
  -webkit-animation: moveRight 0.6s linear infinite alternate;
  animation: moveRight 0.6s linear infinite alternate;
}

.pageload::before {
  background: #4fc3f7;
  -webkit-transform: translateX(20px);
  transform: translateX(20px);
  -webkit-animation: moveLeft 0.6s linear infinite alternate;
  animation: moveLeft 0.6s linear infinite alternate;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  background-image: url(../images/draw-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header {
  position: absolute;
  top: 2%;
  left: 10%;
  right: 10%;
  height: 20px;
  z-index: 10;
}

.header .dropdown {
  display: block;
  /*float: left;*/
  background-color: rgba(255,255,255,.5);
}

.header .dropdown .lotterieName {
  text-align: center;
  padding: 10px 15px 10px 15px;
}

.header .dropdown .lotterieName .name {
  font-size: xx-large;
  font-weight: bold;
}

.header .dropdown .lotterieName .type {
  font-size: x-large;
}

.header .notice {
  position: absolute;
  right: 0;
  left: 0;
  background-color: rgba(255,255,255,.5);
}

.header .notice .item {
  display: block;
  float: left;
  width: 49%;
  height: 40px;
  padding: 6px 12px;
  font-size: 20px;
}

.header .notice .item .avatar {
  float: left;
  display: block;
  background-color: #999;
  margin-right: 8px;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  overflow: hidden;
}

.header .notice .item .avatar img {
  width: 100%;
  height: 100%;
}

.header .notice .item .del_sign {
  float: left;
  display: block;
  background-color: #fff;
  margin-right: 8px;
  height: 19px;
  width: 19px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 4px;
  margin-left: 5px;
  cursor: pointer;
}

.header .notice .item span {
  display: block;
  float: left;
}

.header .btn {
  position: relative;
  border: none;
  border-radius: 0;
  background-color: rgba(255,255,255,.8);
  font-size: 20px;
}

.header .btn .s {
  display: inline-block;
  height: 100%;
  margin-right: 5px;
  padding-right: 10px;
  border-right: 1px solid #b5b5b5;
}

.header .btn .caret {
  border-top: 8px solid #b5b5b5;
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
}

.header .dropdown-menu {
  padding: 0;
  min-width: 120px;
  border: none;
  border-radius: 0;
  background-color: rgba(255,255,255,.5);
}

.header .dropdown-menu a {
  line-height: 32px;
  text-align: center;
}

.warp {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.circle {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #fff;
  border-radius: 50%;
  overflow: hidden;

  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.circle.show {
  display: block;
}

.circle .btn {
  position: absolute;
  top: 20%;
  right: 20%;
  bottom: 20%;
  left: 20%;
  z-index: 1000;
  display: none;
  box-shadow: none;
}

.circle .btn.show {
  display: block;
}

.circle .btn a {
  display: table;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  text-decoration: none;
  font-size: inherit;
  color: #fff;
  outline: none;
}

.circle .btn a span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  cursor: none;
}

.circle .btn a.start {
  background: #fb5b15;
}

/*.circle .btn a.start:hover, .circle .btn a.start:active {
  background: #fb7204;
}

.circle .btn a.stop {
  opacity: 0;
}

.circle .btn a.stop:hover {
  opacity: 1;
  background: #fc0c1b;
}

.circle .btn a.stop:active {
  background: #ca0612;
}*/

.circle .items {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 50%;
  overflow: hidden;
}

.circle ul, .circle ul li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.circle ul {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
}

.circle ul li {
  position: absolute;
  top: 0;
  left: 0;
  width: 10%;
  height: 10%;
  border-radius: 50%;
  overflow: hidden;
  -webkit-transition: transform .1s ease-in-out 0s;
  transition: transform .1s ease-in-out 0s;
}

.circle ul li.show {
  z-index: 100;
  width: 30%;
  height: 30%;
  box-shadow: 0 4px 4px #4f2306;
}

.circle ul li img {
  width: 100%;
  height: 100%;
}

.circle .done {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: none;
}

.circle .done.show {
  display: block;
}

.circle .done img {
  position: absolute;
  top: 10%;
  right: 25%;
  bottom: 40%;
  left: 25%;
  width: 50%;
  height: 50%;
  border-radius: 50%;
  box-shadow: 0 4px 4px #4f2306;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: transform .2s ease-in-out 0s;
  transition: transform .2s ease-in-out 0s;
}

.circle .done img.show {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.circle .done div {
  position: absolute;
  top: 64%;
  right: 0;
  left: 0;
  line-height: 1.2;
  text-align: center;
}

.circle .backdrop {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,.9);
  border-radius: 50%;
  display: none;
}

.circle .backdrop.show {
  display: block;
}


.draw-winner {
  position: absolute;
  top: 16%;
  right: 4%;
  left: 4%;
  padding: 20px;
  min-height: 500px;
  background-color: rgba(255,255,255,.8);
}

.draw-winner .winner-item {
  margin-bottom: 10px;
}

.draw-winner .winner-item .title  {
  display: block;
  float: left;
  line-height: 40px;
  font-size: 20px;
}

.draw-winner .winner-item .notice {
  position: absolute;
  right: 20px;
  left: 0;
}

.draw-winner .winner-item .notice .item {
  display: block;
  float: left;
  width: 49%;
  height: 40px;
  padding: 6px 12px;
  font-size: 20px;
}

.draw-winner .winner-item .notice .item .avatar {
  float: left;
  display: block;
  background-color: #999;
  margin-right: 8px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  overflow: hidden;
}

.draw-winner .winner-item .notice .item .avatar img {
  width: 100%;
  height: 100%;
}

.draw-winner .winner-item .notice .item span {
  display: block;
  float: left;
}

.clearfix:before,
.clearfix:after {
  content: '';
  display: table;
}

.clearfix:after {
  clear: both;
}
.footer {
  position: relative;
  /*padding: 40px;*/
  top:80%;
}
.company_logo {
  position: absolute;
  top: 90%;
  left: 5%;
  width: 150px;
}
//add new draw css
.draw_btn {
  position: relative;
  top: 80%;
  left: 95%;
  float: right;
  width: 150px; 
}

.draw_btn .show {
  display: block;
}

.draw_btn a {
  display: table;
  width: 150px;
  height: 150px;
  float: right;
  border-radius: 50%;
  text-decoration: none;
  font-size: inherit;
  color: #fff;
  outline: none;
}

.draw_btn a span {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-size: 2em;
}

.draw_btn a.start {
  background: #fb5b15;
}

.draw_btn a.start:hover, .circle .btn a.start:active {
  background: #fb7204;
}

.draw_btn a.stop {
  opacity: 1;
  background: #fc0c1b;
}

/*.draw_btn a.stop:hover {
  opacity: 1;
  background: #fc0c1b;
}*/

.draw_btn a.stop:active {
  background: #ca0612;
}

.modal-header {
  border-bottom: 0px;
}
.modal-content {
  width: 400px;
  margin-top: 50%;
  margin-left: 20%;
}
.modal-body {
  font-size: 20px;
}
.modal-footer {
  border-top: 0px;
  padding-bottom: 30px;
}
.btn-default {
  width: 100px;
}
.btn-info {
  width: 100px;
}
