<div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1" ng-controller="RegisterCtrl">
  <form method="POST" ng-submit="submit()"
      class="form-horizontal register-form" role="form"
      enctype="multipart/form-data"
      name="registerForm">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">管理员信息</div>
      </div>
      <div class="panel-body">
        <form-input data-title="'注册邮箱'" data-name="'email'">
          <input name="email" id="email" ng-model="user.email"
              class="form-control" type="email" required>
          <div ng-show="registerForm.email.$invalid && registerForm.email.$dirty" class="form-error">
            *请输入邮箱地址，格式如iweixiao@163.com
          </div>
        </form-input>
        <form-input data-title="'密码'" data-name="'password'">
          <input name="password" id="password" ng-model="user.password" 
              class="form-control" type="password" ng-minlength="6" ng-maxlength="20"
              required>
          <div ng-show="registerForm.password.$invalid && !registerForm.password.$pristine" class="form-error">
            *请输入6~20位字符作为密码
          </div>
        </form-input>
        <form-input data-title="'姓名'" data-name="'name'">
          <input name="name" id="name" ng-model="user.name" ng-minlength="2"
              class="form-control" type="text"
              required>
          <div ng-show="registerForm.name.$invalid && !registerForm.name.$pristine" class="form-error">
            *请填写真实姓名
          </div>
        </form-input>
        <!--13、15和18开头的11位手机号码-->
        <form-input data-title="'手机号码'" data-name="'phone'">
          <input name="phone" id="phone" ng-model="user.phone" 
              class="form-control" type="text" ng-pattern="/^[1][358][0-9]{9}$/"
              required>
          <div ng-show="registerForm.phone.$invalid && !registerForm.phone.$pristine" class="form-error">
            *请填写11位手机号码
          </div>
        </form-input>
        <form-input data-title="'正面近照'" data-name="'photo_id'">
          <div class="fileinput fileinput-new" data-provides="fileinput">
            <div class="fileinput-preview fileinput-exists thumbnail"></div>
            <div>
              <span class="btn btn-default btn-file">
              <span class="fileinput-new">选择照片</span>
              <span class="fileinput-exists">更换</span>
              <input type="file" name="photo_id"
                  data-file="user.photo_id" required></span>
              <a href="#" class="btn btn-default fileinput-exists"
                  data-dismiss="fileinput">删除</a>
            </div>
          </div>
        </form-input>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">组织信息</div>
      </div>
      <div class="panel-body">
        <!-- <form-input data-title="'社团名称'" data-name="'community_name'">
          <input name="community_name" id="community_name"
              ng-model="community.community_name" 
              class="form-control" type="text" ng-maxlength="20"
              required>
          <div ng-show="registerForm.community_name.$invalid && !registerForm.community_name.$pristine" class="form-error">
            *社团名称请限制在20字符以内
          </div>
        </form-input> -->
        <form-input data-title="'省'" data-name="'province'">
          <select name="province_scope" id="province_scope" class="form-control"
              ng-model="community_scope.province_scope_id" 
              ng-options="r.id as r.city for r in provinceArray" ng-change="change_province()">
          </select>
        </form-input>
        <form-input data-title="'市'" data-name="'city'">
          <select class="form-control" name="city_scope" id="city_scope" 
              ng-model="community_scope.city_scope_id" 
              ng-options="r.id as r.city for r in cityArray" ng-change="change_city()">
          </select>
        </form-input>
        <form-input data-title="'学校名称'" data-name="'university'">
          <select class="form-control" id="university" name="university"
              ng-model="community.university" ng-change="select_un(community.university)"
              ng-options="university.id as university.name for university in universities" required>
          </select>
        </form-input>
        <!--社团类型-->
        <form-input data-title="'组织类型'" data-name="'admin_type'">
          <select class="form-control" id="admin_type" name="admin_type"
              ng-model="community.admin_type" ng-change="type()"
              ng-options="r.id as r.name for r in manager_type" required>
          </select>
        </form-input>
        <div class="form-group">
          <label class="col-sm-3 control-label" for="community_name">{{prefix_name}}名称</label>
          <div class="col-sm-8">
            <input name="community_name" id="community_name"
              ng-model="community.community_name" 
              class="form-control" type="text" ng-maxlength="20"
              required>
            <div ng-show="registerForm.community_name.$invalid && !registerForm.community_name.$pristine" class="form-error">
              *社团名称请限制在20字符以内
            </div>
          </div>
        </div>
        <form-input data-title="'组织介绍'"
            data-name="'community_description'">
          <textarea class="form-control" id="community_description"
              ng-model="community.description"
              name="community_description" rows="5" autocomplete="off" required>
          </textarea>
          <span class="form-error" ng-show="show_description">
            *社团简介请限制在200字符内
          </span>
        </form-input>
        <form-input data-title="'组织LOGO'" data-name="'logo'">
          <div class="fileinput fileinput-new" data-provides="fileinput">
            <div class="fileinput-preview fileinput-exists thumbnail"></div>
            <div>
              <span class="btn btn-default btn-file">
              <span class="fileinput-new">选择照片</span>
              <span class="fileinput-exists">更换</span>
              <input type="file" name="logo" data-file="community.logo" required></span>
              <a href="#" class="btn btn-default fileinput-exists"
                  data-dismiss="fileinput">删除</a>
            </div>
          </div>
        </form-input>
      </div>
    </div>
    <div>
      <button type="submit" class="btn btn-primary form-control" ng-disabled="registerForm.$invalid || show_description"
          >注册</button>
    </div>
  </form>
 </div>
