<div class="modal-header">
	<h4 class="modal-title">系统信息</h4>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-md-12">
			<p>
				当前版本：<font ng-bind="version"></font>
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<p class="text-left">
			    1、社团活动新增问卷功能，支持四种问卷问题模式，支持设置问卷专属兑奖券，参与问卷的同学们有福利啦。<br/>
			    2、活动功能密码：如扫电子票、兑奖券等均统一为社团管理密码，社团工作人员只用记住一个密码，就可以在App端完成社团管理工作。<br/>
			    3、电子凭证管理中，已经被任意活动使用过的电子凭证不支持编辑修改，便于数据统计的准确性。<br/>
			    4、问卷统计页支持统计结果分部分导出电子版，方便社团管理者整理保存。<br/>
			    5、细化活动签到功能，签到者列表中本社成员与非本社成员的区别显示。<br/>
			    6、修复创建活动时，活动详情富媒体编辑框图片显示bug。<br/>
			    7、修复活动分享页中，社团发布的爆料没有正常显示社团LOGO及名称bug。<br/>
			    8、修复管理员登陆时，重复提醒bug。<br/>
			</p>
		</div>
	</div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">
		<span aria-hidden="true">确&nbsp;定</span>
	</button>
</div>
